 /* css reset */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* body7 */
 body {
     width: 512px;
     background-color: rgb(21, 21, 127);
 }

 /* header */
 #site_banner {
     width: 512px;
 }

 .title {
     font-family: "Sigmar", sans-serif;
     margin: 80px 80px 20px;
     color: #fff;
     text-align: center;
     line-height: 1;
 }


 /*main*/
 #discord_description {
     font-family: "DM Sans", sans-serif;
     margin: 0px 80px 20px;
     color: #fff;
     text-align: center;
     line-height: 1;
 }

 /* install button*/
 #install_button {
     position: relative;
     top: 50%;
     left: 50%;
     translate: -50% -50%;
     display: inline-block;
     width: 352px;
     text-align: center;
     font-family: "DM Sans", sans-serif;
     background-color: white;
     color: black;
     text-align: center;
     padding: 13px 25px;
     margin-top: 20px;
     border-radius: 15px;
 }

 /* web button */
 #web_button {
     position: relative;
     top: 50%;
     left: 50%;
     translate: -50% -50%;
     display: inline-block;
     width: 352px;
     text-align: center;
     font-family: "DM Sans", sans-serif;
     color: #fff;
     background-color: #2676ed;
     padding: 13px 25px;
     border-radius: 15px;
     margin-top: 10px;
 }

 /* cards */
 #title_cards {
     font-family: "Sigmar", sans-serif;
     font-size:35px;
     margin: 50px 40px 10px 40px;
     color: #fff;
     text-align: left;
     line-height: 1;
 }

 .cards {
     text-align: left;
     color: #fff;
     font-family: "DM Sans", sans-serif;
     font-size: small;
     margin: 0px 40px 10px 40px;
 }

 .container{
    width: 400px;
    margin: auto;
    margin-top: 30px;
    border: 1px #ffffff00;
    border-style: solid;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 35px;
 }

 .cards img {
    width: 300px;
    margin-top: 15px;
    margin-bottom: 40px;
    border-radius: 10%;
 }

 #eyes img {
    width: 100px; 
    position: absolute;      
    top: 655px;   
    left: 20%;     
 
 }